@model List<ActivityType>


<div style="float:left;">
    <a class="btn btn-success" asp-controller="ActivityType" asp-action="Create" formmethod="Get">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">IsActive</th>
        </tr>
    </thead>
    <tbody>
        @{
            int j = 1;
        }
        @foreach(ActivityType item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>@item.IsActive</td>
                <td><a class="btn btn-danger" asp-controller="ActivityType" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                <td><a class="btn btn-danger" asp-controller="ActivityType" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                <td><a class="btn btn-danger" asp-controller="ActivityType" asp-action="Update" formmethod="Get" asp-route-id="@item.Id">Update</a></td>
            </tr>
        }
    </tbody>
</table>
